[submodule "modules/Kingfisher"]
	path = modules/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
[submodule "modules/system-prompts"]
	path = modules/system-prompts
	url = https://github.com/x1xhlol/system-prompts-and-models-of-ai-tools
[submodule "modules/ui-ux-pro-max"]
	path = modules/ui-ux-pro-max
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
[submodule "modules/new-api"]
	path = modules/new-api
	url = https://github.com/QuantumNous/new-api
[submodule "modules/opencode"]
	path = modules/opencode
	url = https://github.com/anomalyco/opencode
[submodule "modules/awesome-claude-skills"]
	path = modules/awesome-claude-skills
	url = https://github.com/ComposioHQ/awesome-claude-skills
[submodule "modules/cc-switch"]
	path = modules/cc-switch
	url = https://github.com/farion1231/cc-switch
[submodule "modules/agent-skills"]
	path = modules/agent-skills
	url = https://github.com/vercel-labs/agent-skills
[submodule "modules/strapi"]
	path = modules/strapi
	url = https://github.com/strapi/strapi
[submodule "modules/astro"]
	path = modules/astro
	url = https://github.com/withastro/astro
[submodule "modules/vercel-skills"]
	path = modules/vercel-skills
	url = https://github.com/vercel-labs/skills
[submodule "modules/minio"]
	path = modules/minio
	url = https://github.com/minio/minio
