[submodule "modules/Kingfisher"]
	path = modules/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
[submodule "modules/system-prompts"]
	path = modules/system-prompts
	url = https://github.com/x1xhlol/system-prompts-and-models-of-ai-tools
[submodule "modules/ui-ux-pro-max"]
	path = modules/ui-ux-pro-max
	url = https://github.com/nextlevelbuilder/ui-ux-pro-max-skill
[submodule "modules/new-api"]
	path = modules/new-api
	url = https://github.com/QuantumNous/new-api
[submodule "modules/opencode"]
	path = modules/opencode
	url = https://github.com/anomalyco/opencode
